USE [Cinemav123]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillId] [nvarchar](50) NOT NULL,
	[CreatedAt] [date] NULL,
	[TotalPrice] [float] NULL,
	[CustomerId] [nvarchar](10) NOT NULL,
	[StaffId] [nvarchar](10) NOT NULL,
	[VoucherId] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](10) NULL,
	[Email] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[RunningTime] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[Language] [nvarchar](20) NULL,
	[Description] [text] NULL,
	[ReleaseYear] [int] NULL,
	[Author] [nvarchar](30) NULL,
	[Poster] [nvarchar](100) NULL,
	[MovieStatus] [nvarchar](30) NULL,
	[MovieTypeId] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieType]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieType](
	[MovieTypeId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[UnitInStock] [int] NULL,
	[Image] [nvarchar](100) NULL,
	[Status] [bit] NULL,
	[CategoryId] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductBill]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBill](
	[ProductBillId] [nvarchar](10) NOT NULL,
	[Quantity] [int] NULL,
	[ProductId] [nvarchar](10) NOT NULL,
	[BillId] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductBillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[SeatQuantity] [int] NULL,
	[RoomStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatId] [nvarchar](10) NOT NULL,
	[SeatNumber] [int] NULL,
	[Row] [nvarchar](1) NULL,
	[SeatType] [nvarchar](20) NULL,
	[RoomId] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtime]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtime](
	[ShowtimeId] [nvarchar](10) NOT NULL,
	[TicketPrice] [float] NULL,
	[StartTime] [datetime] NULL,
	[RoomId] [nvarchar](10) NOT NULL,
	[MovieId] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Username] [nvarchar](20) NULL,
	[Password] [nvarchar](20) NULL,
	[Phone] [nvarchar](10) NULL,
	[Gender] [bit] NULL,
	[StartingDate] [date] NULL,
	[Email] [nvarchar](30) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [nvarchar](10) NOT NULL,
	[BillId] [nvarchar](50) NOT NULL,
	[ShowtimeId] [nvarchar](10) NOT NULL,
	[SeatId] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherId] [nvarchar](10) NOT NULL,
	[Code] [nvarchar](12) NOT NULL,
	[Status] [bit] NULL,
	[UsedAt] [datetime] NULL,
	[ReleaseAt] [datetime] NULL,
	[VoucherReleaseId] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherRelease]    Script Date: 5/6/2024 1:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherRelease](
	[VoucherReleaseId] [nvarchar](10) NOT NULL,
	[ReleaseName] [nvarchar](100) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Price] [float] NULL,
	[MinPrice] [float] NULL,
	[ObjectType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherReleaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([BillId], [CreatedAt], [TotalPrice], [CustomerId], [StaffId], [VoucherId]) VALUES (N'HD001', CAST(N'2024-03-10' AS Date), 574200, N'KH001', N'NV002', NULL)
INSERT [dbo].[Bill] ([BillId], [CreatedAt], [TotalPrice], [CustomerId], [StaffId], [VoucherId]) VALUES (N'HD002', CAST(N'2024-03-10' AS Date), 752400.00000000012, N'KH002', N'NV002', NULL)
INSERT [dbo].[Bill] ([BillId], [CreatedAt], [TotalPrice], [CustomerId], [StaffId], [VoucherId]) VALUES (N'HD003', CAST(N'2024-03-10' AS Date), 496320.00000000006, N'KH003', N'NV003', NULL)
GO
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (N'DM001', N'Nước uống')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (N'DM002', N'Đồ ăn')
GO
INSERT [dbo].[Customer] ([CustomerId], [Name], [Phone], [Email]) VALUES (N'KH001', N'Đào Đức Danh', N'0392406660', N'danhlaptrinh@gmail.com')
INSERT [dbo].[Customer] ([CustomerId], [Name], [Phone], [Email]) VALUES (N'KH002', N'Nguyễn Hoài Nam', N'0911111111', N'nam@gmail.com')
INSERT [dbo].[Customer] ([CustomerId], [Name], [Phone], [Email]) VALUES (N'KH003', N'Nguyễn Thị Lý', N'0922222222', N'ly123@gmail.com')
GO
INSERT [dbo].[Movie] ([MovieId], [Name], [RunningTime], [Country], [Language], [Description], [ReleaseYear], [Author], [Poster], [MovieStatus], [MovieTypeId]) VALUES (N'PH001', N'Dragon Ball Z', 120, N'Nhật Bản', N'Nhật Bản', N'Phim dragon ball la mot bo phim hanh dong rat hay', 2020, N'Asakimazu Heki', N'fe9b5445-a1b0-4250-904f-8cfb04c905d7_dragonball.jpg', N'STOPPED', N'TL003')
INSERT [dbo].[Movie] ([MovieId], [Name], [RunningTime], [Country], [Language], [Description], [ReleaseYear], [Author], [Poster], [MovieStatus], [MovieTypeId]) VALUES (N'PH002', N'Conan Phiêu Lưu', 130, N'Nhật Bản', N'Nhật Bản', N'Phim Conan la mot bi phim hanh dong rat hay', 2022, N'Nakasugi', N'832ddf58-bbb9-40b6-9032-e79792205c5c_conan.jpg', N'PLAYING', N'TL005')
INSERT [dbo].[Movie] ([MovieId], [Name], [RunningTime], [Country], [Language], [Description], [ReleaseYear], [Author], [Poster], [MovieStatus], [MovieTypeId]) VALUES (N'PH003', N'Harry Potter', 145, N'Việt Nam', N'American', N'Phim rat hay', 2010, N'Johny Dang', N'45732433-19d4-40bb-a422-a3c7b705a86e_harryPotterPoster.jpg', N'PLAYING', N'TL004')
GO
INSERT [dbo].[MovieType] ([MovieTypeId], [Name]) VALUES (N'TL001', N'Kinh dị')
INSERT [dbo].[MovieType] ([MovieTypeId], [Name]) VALUES (N'TL002', N'Tình cảm')
INSERT [dbo].[MovieType] ([MovieTypeId], [Name]) VALUES (N'TL003', N'Hành động')
GO
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [UnitInStock], [Image], [Status], [CategoryId]) VALUES (N'SP001', N'Bắp rang bơ', 30000, 16, N'825e963f-bc13-4d07-bb36-7c568deda1f1_baprangbo.jpg', 1, N'DM002')
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [UnitInStock], [Image], [Status], [CategoryId]) VALUES (N'SP002', N'Cá viên chiên', 20000, 11, N'adb761fd-3a52-404c-b6f4-84f8b292e458_cavienchien.jpg', 1, N'DM002')
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [UnitInStock], [Image], [Status], [CategoryId]) VALUES (N'SP003', N'Coca Cola', 10000, 109, N'989fd56e-c071-49bd-bfef-4843ac696173_cocacola.jpg', 1, N'DM001')
GO
INSERT [dbo].[ProductBill] ([ProductBillId], [Quantity], [ProductId], [BillId]) VALUES (N'PB001', 5, N'SP001', N'HD001')
INSERT [dbo].[ProductBill] ([ProductBillId], [Quantity], [ProductId], [BillId]) VALUES (N'PB002', 3, N'SP002', N'HD001')
INSERT [dbo].[ProductBill] ([ProductBillId], [Quantity], [ProductId], [BillId]) VALUES (N'PB003', 5, N'SP001', N'HD002')
GO
INSERT [dbo].[Room] ([RoomId], [Name], [SeatQuantity], [RoomStatus]) VALUES (N'P001', N'Phòng 01', 160, N'ACTIVE')
INSERT [dbo].[Room] ([RoomId], [Name], [SeatQuantity], [RoomStatus]) VALUES (N'P002', N'Phòng 02', 160, N'ACTIVE')
INSERT [dbo].[Room] ([RoomId], [Name], [SeatQuantity], [RoomStatus]) VALUES (N'P003', N'Phòng 03', 160, N'ACTIVE')
GO
INSERT [dbo].[Seat] ([SeatId], [SeatNumber], [Row], [SeatType], [RoomId]) VALUES (N'G0001', 1, N'A', N'STANDARD', N'P001')
INSERT [dbo].[Seat] ([SeatId], [SeatNumber], [Row], [SeatType], [RoomId]) VALUES (N'G0002', 2, N'A', N'STANDARD', N'P001')
INSERT [dbo].[Seat] ([SeatId], [SeatNumber], [Row], [SeatType], [RoomId]) VALUES (N'G0003', 3, N'A', N'STANDARD', N'P001')
GO
INSERT [dbo].[Showtime] ([ShowtimeId], [TicketPrice], [StartTime], [RoomId], [MovieId]) VALUES (N'SC001', 50000, CAST(N'2024-03-11T12:00:00.000' AS DateTime), N'P001', N'PH001')
INSERT [dbo].[Showtime] ([ShowtimeId], [TicketPrice], [StartTime], [RoomId], [MovieId]) VALUES (N'SC002', 45000, CAST(N'2024-03-11T15:00:00.000' AS DateTime), N'P001', N'PH001')
INSERT [dbo].[Showtime] ([ShowtimeId], [TicketPrice], [StartTime], [RoomId], [MovieId]) VALUES (N'SC003', 50000, CAST(N'2024-03-11T09:00:00.000' AS DateTime), N'P002', N'PH003')
GO
INSERT [dbo].[Staff] ([StaffId], [Name], [Username], [Password], [Phone], [Gender], [StartingDate], [Email], [Role]) VALUES (N'NV001', N'Danh Admin', N'admin', N'admin', N'0392406662', 1, CAST(N'2024-03-01' AS Date), N'daocongdanh47@gmail.com', N'MANAGE')
INSERT [dbo].[Staff] ([StaffId], [Name], [Username], [Password], [Phone], [Gender], [StartingDate], [Email], [Role]) VALUES (N'NV002', N'Phung Danh', N'adanh', N'Danh123123@', N'0912345678', 1, CAST(N'2024-04-11' AS Date), N'danh123@gmail.com', N'STAFF')
INSERT [dbo].[Staff] ([StaffId], [Name], [Username], [Password], [Phone], [Gender], [StartingDate], [Email], [Role]) VALUES (N'NV003', N'Nguyễn Văn Nhất', N'nhat123', N'Nhat123@', N'0812345678', 1, CAST(N'2024-04-16' AS Date), N'nhat@gmail.com', N'STAFF')
GO
INSERT [dbo].[Ticket] ([TicketId], [BillId], [ShowtimeId], [SeatId]) VALUES (N'VE001', N'HD001', N'SC001', N'G0096')
INSERT [dbo].[Ticket] ([TicketId], [BillId], [ShowtimeId], [SeatId]) VALUES (N'VE002', N'HD001', N'SC001', N'G0112')
INSERT [dbo].[Ticket] ([TicketId], [BillId], [ShowtimeId], [SeatId]) VALUES (N'VE003', N'HD001', N'SC001', N'G0128')
GO
INSERT [dbo].[Voucher] ([VoucherId], [Code], [Status], [UsedAt], [ReleaseAt], [VoucherReleaseId]) VALUES (N'KM0001', N'GT558H1TMRHV', 1, CAST(N'2024-03-27T04:57:52.990' AS DateTime), NULL, N'DPH001')
INSERT [dbo].[Voucher] ([VoucherId], [Code], [Status], [UsedAt], [ReleaseAt], [VoucherReleaseId]) VALUES (N'KM0002', N'GTAT45Q0JMHV', 1, CAST(N'2024-03-28T05:05:41.173' AS DateTime), NULL, N'DPH001')
INSERT [dbo].[Voucher] ([VoucherId], [Code], [Status], [UsedAt], [ReleaseAt], [VoucherReleaseId]) VALUES (N'KM0003', N'GTGP2GA8RKHV', 1, CAST(N'2024-03-28T05:06:25.470' AS DateTime), NULL, N'DPH001')
GO
INSERT [dbo].[VoucherRelease] ([VoucherReleaseId], [ReleaseName], [StartDate], [EndDate], [Price], [MinPrice], [ObjectType]) VALUES (N'DPH001', N'Giỗ Tổ Hùng Vưng', CAST(N'2024-03-27' AS Date), CAST(N'2024-03-31' AS Date), 50000, 100000, N'ALL')
INSERT [dbo].[VoucherRelease] ([VoucherReleaseId], [ReleaseName], [StartDate], [EndDate], [Price], [MinPrice], [ObjectType]) VALUES (N'DPH002', N'Happy New Year', CAST(N'2024-04-15' AS Date), CAST(N'2024-04-20' AS Date), 80000, 150000, N'TICKET')
INSERT [dbo].[VoucherRelease] ([VoucherReleaseId], [ReleaseName], [StartDate], [EndDate], [Price], [MinPrice], [ObjectType]) VALUES (N'DPH003', N'Quốc Tế Thiếu Nhi', CAST(N'2024-05-03' AS Date), CAST(N'2024-05-06' AS Date), 50000, 150000, N'ALL')
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [PK_Bill_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [PK_Bill_Customer]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [PK_Bill_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [PK_Bill_Staff]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [PK_Bill_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([VoucherId])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [PK_Bill_Voucher]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [Pk_Movie_MovieType] FOREIGN KEY([MovieTypeId])
REFERENCES [dbo].[MovieType] ([MovieTypeId])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [Pk_Movie_MovieType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [PK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [PK_Product_Category]
GO
ALTER TABLE [dbo].[ProductBill]  WITH CHECK ADD  CONSTRAINT [PK_ProductBill_Bill] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bill] ([BillId])
GO
ALTER TABLE [dbo].[ProductBill] CHECK CONSTRAINT [PK_ProductBill_Bill]
GO
ALTER TABLE [dbo].[ProductBill]  WITH CHECK ADD  CONSTRAINT [PK_ProductBill_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ProductBill] CHECK CONSTRAINT [PK_ProductBill_Product]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [PK_Seat_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [PK_Seat_Room]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [PK_Showtime_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [PK_Showtime_Movie]
GO
ALTER TABLE [dbo].[Showtime]  WITH CHECK ADD  CONSTRAINT [PK_Showtime_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Room] ([RoomId])
GO
ALTER TABLE [dbo].[Showtime] CHECK CONSTRAINT [PK_Showtime_Room]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [PK_Ticket_Bill] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bill] ([BillId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [PK_Ticket_Bill]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [PK_Ticket_Seat] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seat] ([SeatId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [PK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [PK_Ticket_Showtime] FOREIGN KEY([ShowtimeId])
REFERENCES [dbo].[Showtime] ([ShowtimeId])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [PK_Ticket_Showtime]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [PK_Voucher_VoucherRelease] FOREIGN KEY([VoucherReleaseId])
REFERENCES [dbo].[VoucherRelease] ([VoucherReleaseId])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [PK_Voucher_VoucherRelease]
GO
